@charset "UTF-8";

#adMember {
	margin-top:8%;
	width: 160%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin-left: -27%;
    margin-bottom:10%;
    text-align:center;
    padding: 10px;
    text-size:12px;
}


#adMember, th, td {
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
    padding: 9px;
}

.content_ad{
	margin-top:30%;
	width: 100%;
}

/* .content ul {
	width: 100%;
    margin-top: 30px;
} */